name: main

on:
  push:
    branches: 
      - kirkstone

  workflow_dispatch:

jobs:
   morello-soc:
      runs-on: the-capable-hub-aws-ci
      env:
         BUILD_DIR: ${{github.workspace}}/volatile/${{ github.job }}
      container:
        image: capablehub/cheri-yocto-morello:latest

      steps:
         - name: Setup
           run: |
              sudo mkdir -p ${{env.BUILD_DIR}}
              echo HOME=/home/ci | sudo tee -a $GITHUB_ENV
              sudo ln -sf /home/ci ${{env.BUILD_DIR}}
   
         - name: Checkout layers
           uses: actions/checkout@v4
           with:
              path: ${{env.BUILD_DIR}}
   
         - name: Build kas 
           run: |
            cd $BUILD_DIR
            kas build kas/debug-soc.yml

         - name: Upload build logs on failure
           if: failure()
           uses: actions/upload-artifact@v4
           with:
             name: failure-logs
             path: |
               ${{env.BUILD_DIR}}/build/tmp*/work*/**/temp/*.do_*.*

         - name: Upload wic artifacts
           uses: actions/upload-artifact@v4
           with:
              name: morello_artifacts_wic_${{ github.job }}
              path: |
                 ${{env.BUILD_DIR}}/build/tmp-soc/deploy/images/morello-soc/usb-image-morello-soc.wic

         - name: Upload fimrware artifacts
           uses: actions/upload-artifact@v4
           with:
              name: morello_artifacts_firmware_${{ github.job }}
              path: |
                 ${{env.BUILD_DIR}}/build/tmp-soc/deploy/images/morello-soc/board-firmware-sd-image.img   